<footer>
  <div id="philosophy" class="bg-primary position-relative">
    <div class="container p-3 pt-5" #container>
      <div class="row mb-3">
        <h2 class="col-4 color-white">
          Philosophie
        </h2>
        <div class="col-4">

        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>
            Wir, die Warnwofaktur, sind ein junges Team aus kreativen Köpfen mit einer gemeinsamen Passion: Holz in
            allen Formen, Farben und Strukturen. Entstanden im Warnow Valley, einem Künstler- und Kreativquartier im
            Rostocker Stadthafen, sind wir Anfang 2020 mangels Platz am alten Standort und unter dem Motto
            „Holzwerkstatt für alle“ in unsere neuen Räumlichkeiten im Fischereihafen umgezogen. Dort bieten wir auf
            85qm bis zu 12 Werkplätze für Jung und Alt und ermöglichen den Menschen so, auch ohne eigene Werkzeuge
            und den benötigten Platz ihrer Kreativität freien Lauf zu lassen und ihre Projekte umzusetzen.
          </p>
          <p>
            Neben der Entwicklung von Produkten für und mit Unternehmern im Bereich Interior Design, Medienpädagogik
            und therapeutische Behandlungsgeräte haben wir in diesem und im letzten Jahr auch viele spannende
            Bildungsprojekte mit Schulen und Begegnungszentren sowie Teambuildings, beispielsweise mit einem Rostocker
            Architekturbüro begleitet.
          </p>
        </div>
        <div class="col-4">
          <p>
            Unsere Stärken liegen hierbei in der kooperativen Konzept- und Veranstaltungsplanung und deren Umsetzung,
            wobei wir auf ein breit aufgestelltes Netzwerk aus einer Vielzahl unterschiedlicher Gewerke zurückgreifen
            können.
          </p>
          <p>
            Das Team der Warnowfaktur arbeitet auf professionellem Niveau gemeinsam mit Unternehmen, Startups und
            jungen Projektpartnern, sowie mit sozialen Trägern, Schulkassen und anderen Gruppen. Durch die
            Möglichkeiten des Handwerks entdeckt jeder seine kreative Ader, sein Gespür für Naturmaterialien und
            Geschick beim „Selbst ausprobieren“.
          </p>
          <p>
            Das Unternehmen steht für kreative Umsetzung von Ideen - Der Werkstoff Holz fügt sich dem Konzept an: Es
            ergeben sich spannende Projekte, die Begegnungen ermöglichen, Produkte entstehen lassen und freies
            Arbeiten ermöglichen.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end w-100" id="footer-img" #footerImg>
      <img src="/assets/footer.png" alt="footer" class="col-4 h-100">
    </div>
  </div>
  <div class="container" id="sub-footer">
    <div class="row py-5">
      <div class="col-2 font-weight-bold">
        <a>Impressum</a>
      </div>
      <div class="col-4 font-weight-bold">
        <a>Datenschutz</a>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <a>Facebook</a>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <a>Instagram</a>
      </div>
    </div>
  </div>
</footer>
