<header>
  <div id="header-img">
    <img id="header-img-big" src="assets/header-richard.png"/>
    <img id="header-leafs" src="assets/header-leafs.svg"/>
  </div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-6">
        <h1>Herzlich Willkommen</h1>
        <p>… in der Warnowfaktur, wo stetig Projektideen entstehen. Das elementare Material Holz ist mit all seinen natürlichen Formen und Farben unsere Leidenschaft. Daher experimentieren wir täglich damit, altbekannte Gestaltungsmöglichkeiten in neuen Strukturen zu vereinen.</p>
        <p>Überzeugen Sie sich selbst und wählen Sie aus unserem Leistungsportfolio.</p>
      </div>
    </div>
  </div>
</header>
<div class="home">

</div>
<div class="contact my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <form action="">
          <div>
            <input type="text" id="firstname">
            <label for="firstname">Vorname</label>
          </div>
          <div>
            <input type="text" id="lastname">
            <label for="lastname">Nachname</label>
          </div>
          <div>
            <input type="tel" id="telefon">
            <label for="telefon">Telefon/Mobil</label>
          </div>
          <div>
            <input type="email" id="email">
            <label for="email">E-Mail</label>
          </div>
          <div>
            <input type="text" id="request">
            <label for="request">Anliegen</label>
          </div>
          <div>
            <input type="text" id="message">
            <label for="message">Ihre Nachricht an uns</label>
          </div>
          <button type="submit" class="bg-secondary color-white text-uppercase mt-4">Abschicken</button>
        </form>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center text-center">
        <h2>Unsere Dienstleistungen und Angebote haben Ihr Interesse geweckt? </h2>
        <p>
          Dann kontaktieren Sie uns gerne über <a href="mailto:info@warnowfaktur.de">info@warnowfaktur.de</a>, telefonisch unter <a href="tel:+4917680344964">0176 80344964</a> oder nutzen Sie unser Kontaktformular für weitere Informationen.
        </p>
      </div>
    </div>
  </div>
</div>
